@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade " id="staticModalE" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content border border-2 border-success">
            <div class="modal-header border-0 pb-0">
                <h1 class="modal-title fs-4 fw-bold text-success" id="staticModalLabelE">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body border-0" id="staticModalBodyE">
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <div class="spinner-grow spinner-grow-sm text-success" role="status">
                    </div>
                    <div class="text-success">     Loading     </div>
                    <div class="spinner-grow spinner-grow-sm text-success" role="status">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticModalLgE" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticModalLabelLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content border border-2 border-success">
            <div class="modal-header border-0 pb-0">
                <h1 class="modal-title fs-5 text-success" id="staticModalLgLabelE">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body border-0" id="staticModalBodyLgE">
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <div class="spinner-grow spinner-grow-sm text-success" role="status">
                    </div>
                    <div class="text-success">     Loading     </div>
                    <div class="spinner-grow spinner-grow-sm text-success" role="status">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>