@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMMCourier?
@{
    Layout = null;
}
<div class="=card">
    <div class="card-body">
        <form id="frmCourier" asp-controller="Courier" asp-action="Edit">
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="hidden" name="ModifedBy" value="2" />
            <input type="hidden" name="CreatedBy" value="1" />
            <input type="hidden" name="DeletedBy" value="1" />

            <div class="form-group">
                <label for="name">Nama<b class="text-danger">*</b></label>
                <input required value="@Model.Nama" type="text" class="form-control" id="Nama" name="Nama" placeholder="Masukan Nama Courier">
            </div>
            <hr>
            <div>
                <ul id="errorContainer"></ul>
            </div>
            <div class="=card-footer">
                <button class="btn btn-danger" id="btnConfirm">Simpan</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Batal</button>
            </div>
        </form>
    </div>

</div>

<script>
    $("#staticModalLabel").html("@ViewBag.Title")

    $.validator.addMethod(
        "strongnama",
        function (val, el) {
            debugger
            return !(/^(?=.*[0-9])/.test(val)) && !(/^(?=.*[@@#$%&?|><\-.,!#+_{}])/.test(val))
        },
        function (chckRes, el) {
            let nam = $(el).val();
            let txtAlert = "";
            debugger
            if ((/^(?=.*[0-9])/.test(nam)) || (/^(?=.*[@@#$%&?\-|><.,!#+_{}])/.test(nam))) {
                txtAlert += "Jangan ada angka dan karakter"
            }
            if (txtAlert == "") {
                return false;
            }
            else {
                return txtAlert
            }
        }
    )

    $("#frmCourier").validate({
        errorClass: "text-danger",
        errorLabelContainer: "#errorContainer",
        wrapper: "li",
        rules: {
            Nama: {
                "minlength": 2,
                "maxlength": 100,
                "strongnama": true
            }
        },
        message: {
            Nama: {
                "required": "Masukan Nama Courier !",
                "minlength": "Harus lebih dari dua huruf "
            }
        }
    });
  

    $("#frmCourier").submit(function (event) {
        // Disable form submit
        event.preventDefault();

        if ($("#frmCourier").valid()) {
            // alert("Edit Sukses");
            $.ajax({
                url: '/Courier/Edit',
                type: 'post',
                data: $("#frmCourier").serialize(),
                dataType: 'json',
                beforeSend: function () {
                    $("#btnSubmit").hide();
                    $("#btnloading").show();
                },
                success: function (response) {

                    if (response.statusCode == 200 || response.statusCode == 201) {
                        location.reload();

                        alert("Edit Sukses");
                    }
                    else {
                        alert(response.message);
                    }
                },
                error: function (errResponse) {

                }
            });
        }

        return false;

    });

</script>
